# Dossiers de build
/build/
build*/
cmake-build-*/

# Fichiers générés par CMake
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
Makefile

# Fichiers Qt Creator / VS
*.user
*.user.*
/.vs/
/Debug/
/Release/
/x64/

# Objets et binaires
*.o
*.obj
*.exe
*.dll
*.pdb
*.ilk

# Logs
*.log
